################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
*.vcxproj.user
/src/imgui.ini
/packages
media/2005-m51-whirlpool.xet
media/earth.xet
media/heic0707a-l.xet
media/heic1509a.xet
media/heic2020d.xet
media/PIA01322.xet
media/potw1850a.xet
